<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString0" value="INSERT CONNECTION STRING HERE" />
    <add key="ConnectionString1" value="INSERT CONNECTION STRING HERE" />
    <add key="ConnectionString2" value="INSERT CONNECTION STRING HERE" />
    <add key="NumClients" value="100" />
    <add key="NumReplicas" value="1"/>
  </appSettings>
</configuration>
