<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key="ConnectionString" value="INSERT CONNECTION STRING HERE" /-->
    <add key="ConnectionString" value="server=51.145.111.78;user id=azureuser;password=Pa55w.rd;database=northwind;" />
  </appSettings>
</configuration>
